<html>
  	<link href="{{ url_for('static', filename='mytest.css') }}" rel="stylesheet">
    <body class="home">
    <div class="container">
        <header class="header">
            <h1>Pulsian Labs</h1>
        </header>
    <main class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>
    </main>
    <nav class="sidebar">
        <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
        </ul>
    </nav>
    <footer class="footer">
        <p>2017 test footer</p>
    </footer>
</body>
</html>
